.rapTable{
	overflow:auto;
	border: solid 1px #aaa;
	max-height:400px;
	overflow:hidden;
}
.rapTable table{
	background-color:#fff;
	border-spacing:0px;
	width:100%;
	table-layout:fixed;
}
.rapTable table thead tr th{
	background-image:linear-gradient(#282,#020);
	color:#fff;
	padding:4px;
	cursor:pointer;
	text-align:left;
	position:sticky;
    top:0px;
	z-index:10;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.rapTable table thead tr th div{
	display:inline-table;
	width:16px;
	margin-left:8px;
	float:right;
}
.rapTable table tbody{
	font-family:arial;
	border-collapse: collapse;
	white-space:nowrap;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
}
.rapTable table tbody tr{
	cursor:pointer;
}
.rapTable table tbody tr:hover{
	background-color:#dfd;
}
.rapTable table tbody tr img{
	margin:0px 2px;
}
.rapTable table tr td{
	border-right: 1px solid black;
	position:relative;
	padding: 0px 4px;
	overflow:hidden;
}
.rapTable .grip{
	top:0px;
	right:-3px;
	bottom:0px;
	width:6px;
	position:absolute;
	cursor:w-resize;
}
.rapTable .darr,
.rapTable .uarr{
	background-image:linear-gradient(#4b4,#262);
}
.rapTable .darr span:before{
	content:"▼";
}
.rapTable .uarr span:before{
	content:"▲";
}